# Compiled class files
*.class

# Logs
*.log

# IDEs and editors
.idea/
.vscode/

# Mac system files
.DS_Store

# Ignore Maven target folder where compiled artifacts and temporary files are stored
**/target/

# Ignore Maven wrapper files if you don't want to commit them
.mvn/